
.vs/MeterReading/DesignTimeBuild/.dtbcache.v2
.vs/MeterReading/v17/.futdcache.v1
.vs/MeterReading/v17/.suo
.vs/MeterReading/v17/TestStore/0/000.testlog
MeterReading.Business/bin/Debug/net6.0/MeterReading.Business.deps.json
MeterReading.Business/bin/Debug/net6.0/MeterReading.Business.dll
MeterReading.Business/bin/Debug/net6.0/MeterReading.Business.pdb
MeterReading.Business/bin/Debug/net6.0/MeterReading.Data.dll
MeterReading.Business/bin/Debug/net6.0/MeterReading.Data.pdb
MeterReading.Business/bin/Debug/net6.0/ref/MeterReading.Business.dll
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.assets.cache
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.csproj.AssemblyReference.cache
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.csproj.BuildWithSkipAnalyzers
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.csproj.CopyComplete
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.csproj.CoreCompileInputs.cache
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.csproj.FileListAbsolute.txt
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.dll
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.pdb
MeterReading.Business/obj/Debug/net6.0/ref/MeterReading.Business.dll
MeterReading.Business/obj/MeterReading.Business.csproj.nuget.dgspec.json
MeterReading.Business/obj/MeterReading.Business.csproj.nuget.g.props
MeterReading.Business/obj/MeterReading.Business.csproj.nuget.g.targets
MeterReading.Business/obj/project.assets.json
MeterReading.Business/obj/project.nuget.cache
MeterReading.Data/bin/Debug/net6.0/MeterReading.Data.deps.json
MeterReading.Data/bin/Debug/net6.0/MeterReading.Data.dll
MeterReading.Data/bin/Debug/net6.0/MeterReading.Data.pdb
MeterReading.Data/bin/Debug/net6.0/ref/MeterReading.Data.dll
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.assets.cache
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.csproj.AssemblyReference.cache
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.csproj.BuildWithSkipAnalyzers
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.csproj.CoreCompileInputs.cache
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.csproj.FileListAbsolute.txt
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.dll
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.pdb
MeterReading.Data/obj/Debug/net6.0/ref/MeterReading.Data.dll
MeterReading.Data/obj/MeterReading.Data.csproj.nuget.dgspec.json
MeterReading.Data/obj/MeterReading.Data.csproj.nuget.g.props
MeterReading.Data/obj/MeterReading.Data.csproj.nuget.g.targets
MeterReading.Data/obj/project.assets.json
MeterReading.Data/obj/project.nuget.cache
MeterReading/bin/Debug/net6.0/appsettings.Development.json
MeterReading/bin/Debug/net6.0/appsettings.json
MeterReading/bin/Debug/net6.0/MeterReading.Business.dll
MeterReading/bin/Debug/net6.0/MeterReading.Business.pdb
MeterReading/bin/Debug/net6.0/MeterReading.Data.dll
MeterReading/bin/Debug/net6.0/MeterReading.Data.pdb
MeterReading/bin/Debug/net6.0/MeterReading.deps.json
MeterReading/bin/Debug/net6.0/MeterReading.dll
MeterReading/bin/Debug/net6.0/MeterReading.exe
MeterReading/bin/Debug/net6.0/MeterReading.pdb
MeterReading/bin/Debug/net6.0/MeterReading.runtimeconfig.json
MeterReading/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
MeterReading/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
MeterReading/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
MeterReading/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
MeterReading/bin/Debug/net6.0/Microsoft.OpenApi.dll
MeterReading/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
MeterReading/bin/Debug/net6.0/Newtonsoft.Json.dll
MeterReading/bin/Debug/net6.0/ref/MeterReading.dll
MeterReading/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
MeterReading/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
MeterReading/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
MeterReading/bin/Debug/net6.0/System.Net.Http.Formatting.dll
MeterReading/bin/Debug/net6.0/System.Web.Http.dll
MeterReading/obj/Debug/net6.0/apphost.exe
MeterReading/obj/Debug/net6.0/MeterReading.assets.cache
MeterReading/obj/Debug/net6.0/MeterReading.csproj.AssemblyReference.cache
MeterReading/obj/Debug/net6.0/MeterReading.csproj.BuildWithSkipAnalyzers
MeterReading/obj/Debug/net6.0/MeterReading.csproj.CopyComplete
MeterReading/obj/Debug/net6.0/MeterReading.csproj.CoreCompileInputs.cache
MeterReading/obj/Debug/net6.0/MeterReading.csproj.FileListAbsolute.txt
MeterReading/obj/Debug/net6.0/MeterReading.dll
MeterReading/obj/Debug/net6.0/MeterReading.genruntimeconfig.cache
MeterReading/obj/Debug/net6.0/MeterReading.MvcApplicationPartsAssemblyInfo.cache
MeterReading/obj/Debug/net6.0/MeterReading.MvcApplicationPartsAssemblyInfo.cs
MeterReading/obj/Debug/net6.0/MeterReading.pdb
MeterReading/obj/Debug/net6.0/ref/MeterReading.dll
MeterReading/obj/Debug/net6.0/staticwebassets.build.json
MeterReading/obj/MeterReading.csproj.nuget.dgspec.json
MeterReading/obj/MeterReading.csproj.nuget.g.props
MeterReading/obj/MeterReading.csproj.nuget.g.targets
MeterReading/obj/project.assets.json
MeterReading/obj/project.nuget.cache
MeterReading/obj/staticwebassets.pack.sentinel
tests/MeterReading.UnitTests/bin/Debug/net6.0/appsettings.Development.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/appsettings.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/Castle.Core.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
tests/MeterReading.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.Business.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.Business.pdb
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.Data.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.Data.pdb
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.deps.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.exe
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.pdb
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.runtimeconfig.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.UnitTests.deps.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.UnitTests.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.UnitTests.pdb
tests/MeterReading.UnitTests/bin/Debug/net6.0/MeterReading.UnitTests.runtimeconfig.json
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.DotNet.PlatformAbstractions.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.OpenApi.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.AdapterUtilities.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CommunicationUtilities.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CoreUtilities.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.CrossPlatEngine.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.PlatformAbstractions.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.TestPlatform.Utilities.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.CodeCoverage.Shim.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.Common.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Moq.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Newtonsoft.Json.Bson.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Newtonsoft.Json.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/NuGet.Frameworks.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/nunit.engine.api.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/nunit.engine.core.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/nunit.engine.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/nunit.framework.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/NUnit3.TestAdapter.pdb
tests/MeterReading.UnitTests/bin/Debug/net6.0/nunit_random_seed.tmp
tests/MeterReading.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ref/MeterReading.UnitTests.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/System.Net.Http.Formatting.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/System.Web.Http.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/testcentric.engine.metadata.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/testhost.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/testhost.exe
tests/MeterReading.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
tests/MeterReading.UnitTests/bin/Debug/net6.0/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.assets.cache
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.csproj.AssemblyReference.cache
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.csproj.BuildWithSkipAnalyzers
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.csproj.CopyComplete
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.csproj.CoreCompileInputs.cache
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.csproj.FileListAbsolute.txt
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.dll
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.genruntimeconfig.cache
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.pdb
tests/MeterReading.UnitTests/obj/Debug/net6.0/ref/MeterReading.UnitTests.dll
tests/MeterReading.UnitTests/obj/MeterReading.UnitTests.csproj.nuget.dgspec.json
tests/MeterReading.UnitTests/obj/MeterReading.UnitTests.csproj.nuget.g.props
tests/MeterReading.UnitTests/obj/MeterReading.UnitTests.csproj.nuget.g.targets
tests/MeterReading.UnitTests/obj/project.assets.json
tests/MeterReading.UnitTests/obj/project.nuget.cache
.vs/MeterReading/v17/TestStore/0/000.testlog
.vs/MeterReading/v17/TestStore/0/000.testlog
.vs/MeterReading/v17/.suo
*.testlog
.vs/MeterReading/v17/TestStore/0/000.testlog
.vs/MeterReading/v17/.suo
.vs/MeterReading/v17/.futdcache.v1
.vs/MeterReading/project-colors.json
.vs/MeterReading/DesignTimeBuild/.dtbcache.v2
.vs/MeterReading/DesignTimeBuild/.dtbcache.v2
.vs/MeterReading/v17/.futdcache.v1
.vs/MeterReading/v17/.suo
.vs/MeterReading/v17/TestStore/0/000.testlog
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.GeneratedMSBuildEditorConfig.editorconfig
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.AssemblyInfoInputs.cache
tests/MeterReading.UnitTests/obj/Debug/net6.0/MeterReading.UnitTests.AssemblyInfo.cs
tests/MeterReading.UnitTests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MeterReading/obj/Debug/net6.0/MeterReading.GlobalUsings.g.cs
MeterReading/obj/Debug/net6.0/MeterReading.GeneratedMSBuildEditorConfig.editorconfig
MeterReading/obj/Debug/net6.0/MeterReading.AssemblyInfoInputs.cache
MeterReading/obj/Debug/net6.0/MeterReading.AssemblyInfo.cs
MeterReading/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.GlobalUsings.g.cs
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.GeneratedMSBuildEditorConfig.editorconfig
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.AssemblyInfoInputs.cache
MeterReading.Data/obj/Debug/net6.0/MeterReading.Data.AssemblyInfo.cs
MeterReading.Data/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.GlobalUsings.g.cs
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.GeneratedMSBuildEditorConfig.editorconfig
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.AssemblyInfoInputs.cache
MeterReading.Business/obj/Debug/net6.0/MeterReading.Business.AssemblyInfo.cs
MeterReading.Business/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.vs/MeterReading/v17/.suo
